<h1 class="page-header">Dashboard</h1>

<div class="panel panel-default" id="openapphack-dashboard-boot-log">
  <div class="panel-heading">
    <h3 class="panel-title">Boot log</h3>
  </div>
  <div class="panel-body"></div>
</div>

<table class="table table-striped" id="versionsTable">
  <tbody>
    <!--
    <tr>
      <th scope="row">Node</th>
      <td><script type="text/javascript">document.write(process.versions.node);</script></td>
    </tr>
    <tr>
      <th scope="row">Chrome</th>
      <td><script type="text/javascript">document.write(process.versions.chrome);</script></td>
    </tr>
    <tr>
      <th scope="row">Electron</th>
      <td><script type="text/javascript">document.write(process.versions.electron);</script></td>
    </tr>
    <tr>
      <th scope="row">Vagrant</th>
      <td>...</td>
    </tr>
    -->
  </tbody>
</table>
